target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea
.DS_Store

example-05-jpa-library-example/mydbdirectory/

example-05-jpa-library-example/derby.log

example-06-docker-demo/derby.log

example-11-spring-profiles/derby.log

exercises/full-stack-spring-boot/derby.log

security-demos/03-jdbc-authentication/derby.log

security-demos/04-jpa-authentication/derby.log

security-demos/05-jwt-authentication/derby.log

security-demos/06-monolith-session-auth/derby.log

security-demos/07-backend-frontend-jwt-auth/backend/derby.log

example-06-jdbc-row-mapper/jdbc-example.iml

example-07-monolith/01-monolith/derby.log

*.iml

example-07-monolith/02-html-fragments/derby.log

example-07-monolith/03-json-data/derby.log

example-07-monolith/04-decoupled-js/backend/derby.log

example-07-monolith/05-decoupled-react/backend/derby.log
