@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common styles */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%; /* Reset 1 rem to 10px */
}

* {
    box-sizing: border-box;
    margin: 0;
}

p {
    margin-top: 0;
}

p, li, pre, code, label, a {
    font-size: 1.6rem;
}

p:first-letter {
    font-size: 1.5em;
}

h1, h2 {
    margin: 1rem 0 0 0;
}

h1 {
    font-size: 3.2rem; /* 32px */
}

h2 {
    font-size: 2.4rem; /* 24px */
}

h3 {
    font-size: 1.8rem; /* 18px */
}

code, pre {
    background-color: #eee;
}

ol {
    margin-top: 0.2em;
}

main {
    margin: 1rem;
}

.error {
    color: #bd3333;
}

.success {
    color: #33bd33;
}

.hidden {
    display: none;
}

/* Navigation */
.navigation {
    display: flex;
    gap: 3rem;
    justify-content: center;
    background-color: #d6edf8;
    padding: 2rem 0;
}

nav li {
    list-style-type: none;
}

/* Login form */
form {
    width: 20rem;
    margin: auto;
}

input, button {
    width: 20rem;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
}

.sr-only {
    display: none;
}


/* User profile page */
#bio {
    width: 100%;
    height: 10rem;
}

form.bio {
    width: 40rem;
}
