<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A form</title>
</head>
<body>

<h1>Send feedback</h1>
<form action="/hello" method="post">
    <label>
        Your name:
        <input name="name" type="text" value="Ddd">
    </label>
    <br>
    <label>
        Email:
        <input name="email" type="email" value="chuck@noreply.com">
    </label>
    <br>
    <label>
        <textarea name="feedback" rows="5" cols="50">Your feedback here</textarea>
    </label>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>