<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>

<h1>Welcome to our library!</h1>

<h2>Our authors</h2>
<ul>
    <li th:each="author: ${authors}">
        <a th:href="@{/authors/{id}(id=${author.id})}"
           th:text="${author.firstName + ' ' + author.lastName}">
        </a>
    </li>
</ul>
<h2>Our books</h2>
<ul>
    <li th:each="book: ${books}">
        <a th:href="@{/books/{id}(id=${book.id})}"
           th:text="${book.title + ' (' + book.yearIssued + ')'}">
        </a>
    </li>
</ul>

</body>
</html>